.app-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .app-wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .app-wrapper {
    padding: 0 12px;
  }
}
